.container-cards {
  display: flex;
  flex-flow: row wrap;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.review__image-container {
    /* TODO update this later */
    width: 150px
}

.review__image {
    width: 100%
}

.review__title, .review__author, .review__body, .review__rating {
padding-bottom: 1em;
}

.review__mst3k {
  font-size: x-small;
}