.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review {
    background: rgba(56, 72, 114, 0.9);
    flex-basis: 38%;
    min-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid #6fa9bd;
    border-radius: 4px;
    font-size: small;
    color: #ffffff;
}

.review__image-container {
    width: 100%;
}

.review__image {
    width: 100%;
    border-radius: 4px;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.review__title,
.review__author,
.review__body,
.review__rating {
    padding-bottom: 1em;
}

.review__mst3k {
    font-size: x-small;
    padding-bottom: 1em;
}

.review__button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
