.column-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}

.my-friends-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.all-users-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgba(69, 56, 114, 0.4);
    border-radius: 4px;
    padding: 0.5em;
    margin-right: 2em;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user__image-container {
    width: 100%;
}

.user__photo {
    width: 100%;
    border-radius: 4px;
}

.user__button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user__about,
.user__likes,
.user__dislikes {
    padding-bottom: 1em;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
