.party__image-container {
    width: 100%;
}

.party__image {
    width: 100%;
    border-radius: 4px;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.party__movie {
    color: #95e3fd;
}

.party__host,
.party__date,
.party__guests {
    padding-bottom: 1em;
}

.party__button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#more-parties {
    margin-left: 1em;
}