/* --------------- begin text styling --------------- */
body,
input,
select,
textarea {
    color: #404040;
    /* font-family: "Comfortaa", Arial, sans-serif; */
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Patua One", serif; */
    letter-spacing: 2px;
    color: #ffffff;
}

strong {
    font-weight: bold;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}

/* --------------- end text styling --------------- */

/* --------------- begin button styling --------------- */
button,
button:visited {
    align-items: center;
    background-color: #6fa9bd;
    border: 2px solid #0e0e25;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 3px 3px;
    color: #0e0e25;
    cursor: pointer;
    display: flex;
    min-height: 2em;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 1em;
    margin-top: 1em;
}

button:hover {
    background-color: #7e6c8a;
    outline: 0;
    text-decoration: none;
}

button:active {
    background-color: #7e6c8a;
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

.link__not__on__card,
.link__not__on__card:visited {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    background-color: rgba(69, 56, 114, 0.76);
    border-radius: 4px;
    margin: 0;
    border: 1px solid #6fa9bd;
    box-shadow: 2px 2px #6fa9bd;
    margin-right: 1em;
}

.link__not__on__card:hover {
    background-color: rgba(56, 72, 114, 0.9);
}

.link__not__on__card:active {
    box-shadow: none;
}
/* --------------- end button styling --------------- */

/* --------------- begin card styling --------------- */
.card {
    background: rgba(56, 72, 114, 0.9);
    flex-basis: 25%;
    min-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid #6fa9bd;
    border-radius: 4px;
    font-size: small;
    color: #ffffff;
}

.card a:link,
.card a:visited,
.card a:hover,
.card a:active {
    color: #95e3fd;
    text-decoration: none;
}

/* --------------- end card styling --------------- */

/* --------------- begin form styling --------------- */

/* form container */
fieldset {
    background: rgba(56, 72, 114, 0.9);
    flex-basis: 28%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid #6fa9bd;
    border-radius: 4px;
    font-size: small;
    color: #ffffff;
}

/* input element */
.form-control {
    width: 20rem;
    border-radius: 4px;
    border: 1px solid #6fa9bd;
    height: 2rem;
    margin-bottom: 1em;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #95e3fd;
}

.search-field {
    border-radius: 4px;
    border: 1px solid #6fa9bd;
    height: 1.5rem;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #95e3fd;
}

#aboutMe,
#review {
    height: 6em;
}

/* --------------- end form styling --------------- */


.listview-header {
padding-left: 2em;
}

.header-button-box {
    display: flex;
    flex-direction: row;
}