.container-cards {
    display: flex;
    flex-flow: row wrap;
}

.movie__image-container {
    width: 100%;
}

.movie__photo {
    width: 100%;
    border-radius: 4px;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.movie__plot,
.movie__rating {
    padding-bottom: 1em;
}

.movie__mst3k {
    font-size: x-small;
}
