.column-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-content: flex-start;
}

.column1,
.column2 {
    flex-basis: 25%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.column3 {
    flex-basis: 25%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-right: 1em;
}

.column3__component-container {
    margin-bottom: 1em;
    margin-left: 1em;
}

.current-user-header {
    padding-left: 0.5em;
}

.home--column-headers {
    padding-left: 1.5em;
}