.column-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-content: flex-start;
}

.column1, .column2 {
    flex-basis: 30%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.column3 {
    flex-basis: 30%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-top: 1em;
}