.full-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    width: 100%;
}

.nav-right {
    margin: 0 2em 0 1em;
    width: 100%;
}

.logo {
    max-width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(69, 56, 114, 0.76);
    border-radius: 4px;
    width: 100%;
}

li {
    float: left;
    /* display: inline; */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(56, 72, 114, 0.9);
}

span.navbar__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

span.navbar__link:hover {
    background-color: rgba(56, 72, 114, 0.9);
}