.container--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.login-item {
    margin-bottom: 1em;
}

/* this is the popup when someone tries to login with an email address not in the db */
.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

#register-link {
    max-width: 10em;
}

.login--content, .login--header-text {
margin: 1em;
}

.link--register {
    margin: 2em;
}